@import "../../vendor/bootstrap/assets/stylesheets/_bootstrap";
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7Fd;
}
body{
 background-color: red;
}